@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700&display=swap');
*{
  margin:0;
  padding:0;
  scroll-behavior:smooth;
  scroll-padding-top:2rem;
  list-style:none;
  text-decoration:none;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}

.container{
background-color: black;
}
:root{
--main-color:#00ff73;
--text-color:#00f2ff;
}
section{
    padding:50px 10%;
}
img{
    width:100;
}
body{
    color:var(--text-color);
}
*::scetion{
    color:#fff;
    background: var(--main-color);
}
header{
    position: fixed;
    width:100%;
    top:0;
    right:0;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background:#000000;
    padding: 18px 10%;
    transition: 0.2s;
}
header.shadow{
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}
.logo{
    font-size:1.1rem;
    color: var(--text-color);
    font-weight: 500;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size:1rem;
    padding:10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.navbar a:hover{
    background:var(--text-color);
    color: #001eff;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display:none;
}
.home{
    position: relative;
    width:100%;
    min-height: 100vh;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,1fr));
    align-items: center;
    gap: 1.5rem;
}
.home-text span{
    font-size: 1.4rem;
    font-weight: 600;
}
.home-text h1{
    font-size: 3.4rem;
    color: var(--main-color);
}
.home-text h2{
    font-size: 1.6rem;
    font-weight: bolder;
}
.home-text p{
    font-weight:400;
    margin: 0.7rem 0 1rem;
}
.home-img{
    padding: 40px;
    shape-outside: 4rem;
    border-radius:16px;
    border-image-source: 1rem;
}
.btn{
    display: inline-block;
    background: var(--text-color);
    padding: 0.8rem 2rem;
    color:#000000;
    font-weight: 500;
}
.btn:hover{
    background: var(--main color);
    letter-spacing: 2px;
    transition: 0.2s;
}
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,1fr));
    gap: 1.5rem;
}
.about-title{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}
.about-title h1{
    color: var(--main-color);
    font-size: 1.7rem;
}
.about-title span,
.heading span {
    border-bottom: 3px solid var(--main-olor);
}
.about-title h2{
    font-size: 1rem;
    font-weight: 500;
}
.about-img{
    width: 150px;
    height: 150px;
    margin-top: 2rem;
}
.about-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    background: var(--main-color);
}

.about-text p{
    text-align: justify;
    margin-bottom: 1rem;
}
.heading{
    text-align: center;
}
.heading h1{
    font-size: 1.7rem;
    font-weight: bolder;
    color: var(--main-color);
}

.services-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(17rem,1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}
.services-container .box{
    text-align: center;
    border: 2px solid var(--text-color);
    padding: 20px;
    border-radius: 0 2rem 0 0;
    box-shadow: 10px 11px 11px rgb(14 55 54 / 15%);
}
.services-container .box .bx{
    padding: 10px;
    color: #0d00ff;
    font-size:24px;
    background:var(--text-color);
    border-radius: 4px;
}
.services-container .box h2{
    font-size: 1.1rem;
    margin: 1rem 0 0.5rem;
}
.services-container .box:hover{
    background:var(--text-color);
    color: #3700ff;
    transition: 0.2s;
}
.services-container .box:hover.bx{
    background:var(--text-color);
    color: #0000f9;
    transition: 0.2s;
}





.contact-form formm{
    position: relative;
    width: 400px;
}
form input,
form textarea{
    width: 100%;
    padding: 14px;
    border: none;
    outline: none;
    background: rgb(28, 40, 68, 0.8);
    margin-bottom:0.5rem;
    border-radius: 4px;
    color: #fff;
}
form input::placeholder,
form textarea::placeholder {
    color: #fff;
}
textarea{
    resize: none;
    height: 200px;
}
form .send-btn{
    max-width: 110px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}
form .send-btn:hover{
    background: var(--main-color);
}
.copryight{
    padding: 20px;
    text-align: center;
    color: #fff;
    background: var(--text-color);
}
